video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;   
    height: 100vh;
    object-fit: cover;
    z-index: 0; /* nằm dưới */
}

/* Nút biểu tượng chụp ảnh ở giữa */
.circle-button {
    position: absolute; 
    bottom: 10px;   
    left: 50%;
    transform: translateX(-50%);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: black;
    border: 4px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;    
    z-index: 10; /* nằm trên video */
}

.circle-button:hover {
    transform: translateX(-50%) scale(1.05);
}

.inner-circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: white;
}

/* Nút biểu tượng mũi tên ở góc dưới bên phải */
.arrow-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    border: 0px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;    
    opacity: 0.7;
    z-index: 10;
}

.arrow-icon {
  width: 50%;
  height: 70%;
}

.arrow-button:hover {
    background-color: #eee;
}